/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* Default CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  margin-top: 0 !important;
  background-color: #ffffff !important;
  color: #000000 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  padding-top: 50px !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-transform: uppercase;
}

h2{
  font-size: 2rem !important;
  font-weight: 700 !important;
  letter-spacing: 2px !important;
  line-height: 0 !important;
}

span{
  color: #8c031c !important;
  font-size: 3rem !important;
  font-weight: 700 !important;
  line-height: 0 !important;
}

button{
  background-color: #8c031c !important;
  color: #ffffff !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  border-color: #8c031c !important;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%) !important;
}

button:hover{
  background-color: #f20c36 !important;
  border-color: #f20c36 !important;
}

a{
  text-decoration: none !important;
  color: #ffffff !important;
}

/*Navbar CSS*/
.navbar{
  width: 100%;
  z-index: 9999;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  background-color: #e4d2bd !important;
}

.navbar a{
  color: #000000 !important;
}

.logo{
  font-weight: 700;
  font-family: 'Satisfy', cursive;
  font-size: 2rem !important;
  line-height: 0.6 !important;
}

.logo span{
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem !important;
  line-height: normal !important;
}

.logo:hover{
  color: #f20c36 !important;
}

.navoptions{
  display: flex;
  align-items: center;
  justify-content: center; /*come back to this maybe*/
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navitem{
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
}

.navitem:hover{
  color: #f20c36 !important;
}

.navbar-toggle-icon{
  background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%280, 0, 0, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e') !important;
}

.nav-menu{
 font-size: 1rem !important;
}

.navbar-toggler{
    background-color: transparent !important;
    border: transparent !important;
    box-shadow: none !important;
}
.navbar-toggler:hover{
    background-color: transparent !important;
    border: transparent !important;
    box-shadow: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}


/* Home CSS */
.home{
  background-color: #e4d2bd;
}

.home h1{
  font-weight: 700 !important;
  font-size: 3rem !important;
}

.home p{
  font-size: 1.25rem !important; /*1.5rem !important;*/
}

.home button{
  margin-right: 1rem;
}

.home img{
  border-radius: 40%;
}

.custom-shape-divider-bottom-1670251680 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1670251680 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1670251680 .shape-fill {
  fill: #FFFFFF;
}


/* About CSS */
.about .skills{
    padding: 0.5rem 1rem;
    margin-bottom: .75rem;
    margin-right: 0.75rem;
    font-size: 1rem;
    background: rgba(153,153,153,.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}

.about h5{
  font-weight: 700 !important;
  text-transform: none !important;
}

/* Projects Section CSS */
.projects{
  background-color: #e4d2bd;
}

.projects img{
  width: 100%;
  height: 100%;
}

.projects h4{
  text-transform: none !important;
  font-weight: 700 !important;
}

/* Footer CSS*/
.footer{
  background-color: #e4d2bd;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer .logo:hover{
  color:#000000 !important;
}

.footer h4{
  font-weight: 700 !important;
}

.footer .bi{
  font-size: 1.5rem;
}

.footer-bottom{
  border-top: 1px solid #000000;
}

.footer a{
    color: #000000 !important;
}

/* Project Pages CSS*/
.project-top{
  background-color: #e4d2bd;
  height: 100vh;
}

.project-header h1{
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.project-header p{
  font-size: 1.25rem; /*1.5rem;*/
}

.project-page button{
  padding: .75rem 4rem;
  font-size: 1rem;
  letter-spacing: 1px;
}

.project-overview h2{
  text-transform: none;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: normal !important;
}

.project-overview p{
  font-size: 1rem;
}

.project-overview .skills{
  padding: 0.5rem 1rem;
  margin-bottom: .75rem;
  margin-right: 0.75rem;
  font-size: 1rem;
  background: rgba(153,153,153,.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
}

.justify-content-xs-center, .justify-content-sm-center{
transform: rotate(90deg);
}